<div class="content-box skew first-box">
  <h1>Sign up</h1>
  <div class = "unskew">


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:class =>"user-form col-md-8"}) do |f| %>
      <%= devise_error_messages! %>

      <%= f.invisible_captcha :subtitle %>

      <div class="form-row">
        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, :required => true %>
        </div>

        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, :required => true %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true %>
        </div>
      </div>

      <div class= "form-row">
        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <small>(<%= @minimum_password_length %> characters minimum)</small>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", :required => true %>
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", :required => true %>
        </div>
      </div>


      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>